﻿<!DOCTYPE html>
<html ng-app="testBuilderApp">
<head>
    <title>Students System</title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/ngDialog.min.css" rel="stylesheet" />
    <link href="Content/ngDialog-theme-default.css" rel="stylesheet" />
    <link href="Content/theme.css" rel="stylesheet" />
    <link href="Content/ng-table.min.css" rel="stylesheet" />
    <link href="Content/angular-ui.min.css" rel="stylesheet" />
    <link href="Content/main.css" rel="stylesheet" />

    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-resource.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/ng-table.js"></script>
    <script src="Scripts/ngDialog.min.js"></script>
    <script src="Scripts/jquery-1.9.1.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="app/testBuilderApp.js"></script>
    <script src="app/studentsForm/studentsService.js"></script>
    <script src="app/studentsForm/studentsController.js"></script>
    <script src="app/faculties/scripts/facultiesController.js"></script>
    <script src="app/questions/scripts/questionsController.js"></script>
    <script src="app/userAuthentication/scripts/userManagementController.js"></script>
</head>
<body ng-controller="userManagementController">
    <div id="page"  ng-show="isUserLoggedIn">
        <header>
            <div id="menu" class="navbar navbar-default  ">
                <div class="navbar-header white-text">
                    <h2 class="margin-title">Test builder</h2>
                </div>
                <div>
                    <ul class="nav navbar-nav " style="margin-top:15px;">
                        <li class="nav btn font-size-20"><a href="#/">Home</a></li>
                        <li class="nav btn font-size-20"><a href="#/faculties">Faculties</a></li>
                        <li class="nav btn font-size-20"><a href="#/questions">Questions</a></li>

                    </ul>
                </div>

            </div>
        </header>
        <div class="container" style="margin-bottom:50px;">
            <ng-view>

            </ng-view>
        </div>
    </div>

    <div class="row panel panel-primary" style="margin-top:100px;" ng-show="!isUserLoggedIn">
        <h1 class="text-center">Login</h1>

        <form class="col-xs-offset-5">
            <div class="row">
                <label>Username</label>
                <div class="form-control width-25-percent">
                    <input type="text" class="width-100-percent" ng-model="user.username" />
                </div>
            </div>
            <div class="row">
                <label>Password</label>
                <div class="form-control width-25-percent">
                    <input type="password" class="width-100-percent" ng-model="user.password" />
                </div>
            </div>
            <div class="row margin-top-20 margin-bottom-20">
                <button type="submit" class="btn btn-primary" ng-click="logIn()">LOG IN</button>
            </div>

        </form>
    </div>
</body>
</html>
