﻿<div>
    <h1>Register here </h1>
    <form>
        <div class="row margin-bottom-20"><input type="text" placeholder="Enter Username" class="form-control col-xs-10" ng-model="registration.username" /></div>
        <div class="row margin-bottom-20"><input type="password" placeholder="Enter Password" class="form-control col-xs-10" ng-model="registration.password" /></div>
        <div class="row margin-bottom-20"><input type="password" placeholder="Confirm Password" class="form-control col-xs-10" ng-model="registration.confirmedPassword" /></div>
        <div class="row">
            <button class="btn btn-primary center-block" ng-click="registerUser">Submit</button>
        </div>
    </form>
</div>