﻿<div>
    <div class="row">
        <div class="col-xs-12">
            <h1>Welcome to the Test builder </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10">
            <div class="well">
                Through this site one can easily and dynamicly build questionieres for future use 
            </div>
        </div>
    </div>
</div>