﻿<div>
    <div class="row">
        <h1>Students</h1>
    </div>
    <div class="row">
        <table ng-table class="table">
            <tr ng-repeat="student in students">
                <td data-title="'Faculty No'">{{student.facultyNumber}}</td>
                <td data-title="'First Name'">{{student.firstName}}</td>
                <td data-title="'Last Name'">{{student.lastName}}</td>
                <td data-title="'Form of training'">{{student.form.name}}</td>
                <td data-title="'Faculty'">{{student.faculty.name}}</td>
                <td data-title="'Department'">{{student.department.name}}</td>
                <td data-title="'Payment'">{{student.payment}}</td>
                <td data-title="'Delete'"><span class="btn"><i class="glyphicon glyphicon-edit " ng-click="removeStudent(student)"></i></span></td>
                
            </tr>
        </table>
    </div>
</div>