﻿<div class="row margin-25">
    <div class="col-xs-8 ">
        <button class="btn btn-default  width-100-percent">
            {{inputquestion.name}}
        </button>
    </div>
    <div class="col-xs-2">
        <button class="btn btn-info width-50-percent" ng-click="editQuestion(inputquestion)">
            <span>
                <i class="glyphicon glyphicon-pencil "></i>
            </span>
        </button>
    </div>
    <div class="col-xs-2">
        <button class="btn btn-danger width-50-percent" ng-click="removeQuestion(inputquestion)">
            <span>
                <i class="glyphicon glyphicon-minus "></i>
            </span>
        </button>
    </div>
</div>
