﻿<div ng-form="createFacultyTemplate">
    <form>
        <div class="row form-control">
            <input type="text" ng-model="facultu.Name" />
        </div>
        <div class="row"></div>
        <div class="row"></div>
    </form>
</div>