﻿<div>
    <div class="lead">Here be faculties</div>

    <div class="row">
        <table ng-table class="table table-hover">
            <tr ng-repeat="faculty in faculties">
                <td>{{faculty.name}}</td>
            </tr>
        </table>
    </div>
    <div class="row margin-top-20">
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="createFaculty()">Create Faculty</button>

        </div>
    </div>

</div>