﻿/*.container{
    background-color: #f8f8f8;
    width: 80%;
}*/

.margin-title{
    margin-right: 50px;
    margin-left: 20px;

}

.margin-top-20{
    margin-top:20px;
}

.margin-bottom-20{
    margin-bottom:20px;
}

.margin-left-15{
    margin-left:15px;
}

.coursor-pointer{
    cursor:pointer;
}

.white-text{
    color: white;
}

.font-size-20{
    font-size:20px;
}

.navbar-custom-color{
    background-color: #8CC739;
}

.width-25-percent{
    width:25%;
}

.width-100-percent{
    width:100%;
}


body{
    background-color:#E1E2E3;
}