﻿/*.container{
    background-color: #f8f8f8;
    width: 80%;
}*/

.margin-title{
    margin-right: 50px;
    margin-left: 20px;

}

.margin-top-20{
    margin-top:20px;
}

.margin-bottom-20{
    margin-bottom:20px;
}

.width-50-percent{
    width:50%;
}

.margin-left-15{
    margin-left:15px;
}

.coursor-pointer{
    cursor:pointer;
}

.min-height-200{
    height: 100%;
    min-height: 400px;
    background-color: #ADEDBD;
}

.text-allign-left{
    text-align: left;
}

.white-text{
    color: white;
}

.font-size-20{
    font-size:20px;
}

.margin-25{
    margin: 25px;
}

.margin-30{
    margin:30px;
}

.ngdialog.ngdialog-theme-wide-dialog .ngdialog-content {
    width: 80%;
}

.navbar-custom-color{
    background-color: #8CC739;
}

.width-25-percent{
    width:25%;
}

.width-100-percent{
    width:100%;
}

.question-dragging [ng-drag].dragging {
    opacity: 0.5;
    
}

.question-dragging [ng-drop].drag-enter {  
    outline:rgb(55, 143, 244) solid 3px;
    opacity: 0.5;
}

.active-color{
    background-color: #ADEDBD;
}


body{
    background-color:#E1E2E3;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 13px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }