﻿<div >
    <h1>Create faculty</h1>
    <div>
        <div class="row margin-top-20">
            <div class="col-xs-12">
                <label>Faculty name</label>
                <br />
                <input type="text" class="form-control width-100-percent" ng-model="faculty.Name" />
            </div>
        </div>
        <div class="row margin-top-20">
            <div class="col-xs-4 col-xs-offset-8">
                <button class="btn btn-primary pull-right" ng-click="saveFaculty(faculty); closeThisDialog();">Save</button>

            </div>
        </div>
        <div class="row"></div>
    </div>
</div>