﻿<div>
    <div class="lead">Faculties</div>

    <div class="row">
        <div class="col-xs-4 div col-xs-offset-8">
            <h5>Search</h5>
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" ng-model="searchFaculties" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <table ng-table="tableParams" class="table table-hover table-striped">
            <tr ng-repeat="faculty in $data">
                <td>{{faculty.name}}</td>
            </tr>
        </table>
    </div>
    <div class="row margin-top-20">
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="createFaculty()">Create Faculty</button>

        </div>
    </div>

</div>