﻿<div ng-form="studentsForm">
    <div class="row alert alert-danger" ng-if="showInvalid">
        Please fill in all required fields

    </div>
    <div class="row">
        <div class="col-xs-6">
            <label for="nameInput">First Name</label>
            <input class="form-control" id="nameInput" type="text" ng-model="student.firstName" placeholder="Enter first name" required />
            <span class="alert-danger" ng-if="showInvalid && !student.firstName">Please fill in your first name</span>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label for="lastNameInput">Last Name</label>
            <input class="form-control" id="lastNameInput" type="text" ng-model="student.lastName" placeholder="Enter last name" required />
            <span class="alert-danger" ng-if="showInvalid && !student.lastName">Please fill in your last name</span>

        </div>

    </div>

    <div class="row">
        <div class="col-xs-6">
            <label for="lastNameInput">Faculty number</label>
            <input class="form-control" id="lastNameInput" type="text" ng-model="student.facultyNumber" placeholder="Enter faculty number" required />
            <span class="alert-danger" ng-if="showInvalid && !student.facultyNumber">Please enter a faculty number</span>

        </div>
    </div>

    <div class="row" style="margin-top:20px;">
        <div class="dropdown margin-left-15">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="false">
                {{student.form.name}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li ng-repeat="form in formOfTraining" ng-click="selectFormOftraining(form)" class="coursor-pointer" role="presentation">
                    <a>{{form.name}}</a>
                </li>

            </ul>
            <span class="alert-danger" ng-if="showInvalid && !student.form.id">Please select a reason</span>

        </div>
    </div>

    <div class="row" style="margin-top:20px;">
        <div class="dropdown margin-left-15">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                {{student.reason.name}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="reason in reasons" ng-click="selectReason(reason)" class="coursor-pointer" role="presentation">
                    <a>{{reason.name}}</a>
                </li>
            </ul>
            <span class="alert-danger" ng-if="showInvalid && !student.reason.id">Please select a reason</span>

        </div>
    </div>

    <div class="row" style="margin-top:20px;">
        <div class="dropdown margin-left-15">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                {{student.faculty.name}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="faculty in faculties" ng-click="selectFaculty(faculty)" class="coursor-pointer" role="presentation">
                    <a>{{faculty.name}}</a>
                </li>
            </ul>
            <span class="alert-danger" ng-if="showInvalid && !student.faculty.id">Please select a faculty</span>

        </div>
    </div>

    <div class="row" style="margin-top:20px;">
        <div class="dropdown margin-left-15">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                {{student.department.name}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="department in student.faculty.departments" ng-click="selectDepartment(department)" class="coursor-pointer" role="presentation">
                    <a>{{department.name}}</a>
                </li>
            </ul>
        </div>

    </div>

    <hr />

    <h4>
        Payment methods
    </h4>
    <div class="row">
        <div class="col-xs-5">
            <label>Payment</label>
            <input type="number" class="form-control" ng-model="student.payment" placeholder="Enter payment" required />
            <span class="alert-danger" ng-if="showInvalid && !student.payment">Please fill in your first name</span>

        </div>
        <div class="col-xs-5">
            <div class="col-xs-6">
                <label for="deffered">Deffered</label>
                <input id="deffered" type="radio" value="0" class="radio" ng-model="student.isDeffered" />
            </div>
            <div class="col-xs-6">
                <label for="notDefered">Not Deffered</label>
                <input id="notDefered" type="radio" value="1" class="radio" ng-model="student.isDeffered" />
            </div>

        </div>
    </div>
    <div ng-if="student.isDeffered == 0">
        <div class="row">
            <div class="col-xs-6">
                <label>Enter Months </label>
                <input type="number" class="form-control" ng-model="student.months" />
            </div>
        </div>
        <div class="row" ng-if="student.months ">
            <div class="col-xs-10">
                Your montly sum: {{student.payment / student.months | currency:"USD$" }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-1 pull-right">
            <button class="btn btn-success" ng-click="addStudent()">Save</button>
        </div>
    </div>

</div>
