﻿<div class="row">
    <div class="col-xs-12">
        <h3>Create question</h3>
        <form>
            <div class="row">
                <div class="col-xs-12 btn-group">
                    <div class="col-xs-4">
                        <h5>Single choice</h5>
                        <button class="btn btn-default width-100-percent" ng-model="question.typeId" ng-click="selectTypeOfQuestion(1)" ng-class="(question.typeId == 1) ? 'active-color' : ''">
                            <span>
                                <i class="glyphicon glyphicon-check"></i>
                            </span>
                        </button>
                    </div>
                    <div class="col-xs-4">
                        <h5>Multiple choice</h5>
                        <button class="btn btn-default width-100-percent" ng-model="question.typeId" ng-click="selectTypeOfQuestion(2)" ng-class="(question.typeId == 2) ? 'active-color' : ''">
                            <span>
                                <i class="glyphicon glyphicon-th-list"></i>
                            </span>
                        </button>
                    </div>
                    <div class="col-xs-4">
                        <h5>Free text</h5>
                        <button class="btn btn-default width-100-percent" ng-model="question.typeId" ng-click="selectTypeOfQuestion(3)" ng-class="(question.typeId == 3) ? 'active-color' : ''">
                            <span>
                                <i class="glyphicon glyphicon-font"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="question.typeId">
                <div class="row margin-top-20 margin-bottom-20">
                    <div class="col-xs-11" style="margin-left: 30px;">
                        <h4>Question</h4>
                        <input type="text" ng-model="question.name" class="form-control width-100-percent" />
                    </div>

                </div>
                <div class="row" ng-if="question.typeId==1">
                    <div class="col-xs-12 margin-30">
                        <h4>Single choice - only 1 correct answer is allowed</h4>
                        <div>
                            <div class="row">
                                <div class="col-xs-8">
                                    <label>Answer</label>
                                    <input type="text" ng-model="newAnswer.name" class="form-control width-100" />
                                </div>
                                <div class="col-xs-2">
                                    <label>Is Correct</label>
                                    <br />
                                    <button class="btn btn-success width-50-percent" ng-if="newAnswer.isCorrect" ng-click="checkNewAnswer()">
                                        <span>
                                            <i class="glyphicon glyphicon-ok"></i>
                                        </span>
                                    </button>
                                    <button class="btn btn-danger width-50-percent" ng-if="!newAnswer.isCorrect" ng-click="checkNewAnswer()">
                                        <span>
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </span>
                                    </button>
                                </div>
                                <div class="col-xs-2">
                                    <label>Add</label>
                                    <br />
                                    <button class="btn btn-primary width-50-percent" ng-click="addAnswer(newAnswer)">
                                        <span>
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <h3>Answers</h3>
                                <div class="row">
                                    <div class="col-xs-4">Answer</div>
                                    <div class="col-xs-4">Is correct</div>
                                    <div class="col-xs-4">Remove</div>
                                </div>
                                <ol>
                                    <li ng-repeat="answer in question.answers">
                                        <div class="row">
                                            <div class="col-xs-4">{{answer.name}}</div>
                                            <div class="col-xs-4">{{answer.isCorrect}}</div>
                                            <div class="col-xs-4">
                                                <button class="btn btn-info" ng-click="removeAnswer(answer)">
                                                    <span>
                                                        <i class="glyphicon glyphicon-minus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="row" ng-if="question.typeId==2">
                    <div class="col-xs-12 margin-30">
                        <h4>Multiple choice</h4>
                        <div>
                            <div class="row">
                                <div class="col-xs-8">
                                    <label>Answer</label>
                                    <input type="text" ng-model="newAnswer.name" class="form-control width-100" />
                                </div>
                                <div class="col-xs-2">
                                    <label>Is Correct</label>
                                    <br />
                                    <button class="btn btn-success width-50-percent" ng-if="newAnswer.isCorrect" ng-click="checkNewAnswer()">
                                        <span>
                                            <i class="glyphicon glyphicon-ok"></i>
                                        </span>
                                    </button>
                                    <button class="btn btn-danger width-50-percent" ng-if="!newAnswer.isCorrect" ng-click="checkNewAnswer()">
                                        <span>
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </span>
                                    </button>
                                </div>
                                <div class="col-xs-2">
                                    <label>Add</label>
                                    <br />
                                    <button class="btn btn-primary width-50-percent" ng-click="addAnswer(newAnswer)">
                                        <span>
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <h3>Answers</h3>
                                <div class="row">
                                    <div class="col-xs-4">Answer</div>
                                    <div class="col-xs-4">Is correct</div>
                                    <div class="col-xs-4">Remove</div>
                                </div>
                                <ol>
                                    <li ng-repeat="answer in question.answers">
                                        <div class="row">
                                            <div class="col-xs-4">{{answer.name}}</div>
                                            <div class="col-xs-4">{{answer.isCorrect}}</div>
                                            <div class="col-xs-4">
                                                <button class="btn btn-info" ng-click="removeAnswer(answer)">
                                                    <span>
                                                        <i class="glyphicon glyphicon-minus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row" ng-if="question.typeId==3">
                    <div class="col-xs-12 margin-30">
                        <h4>Free text - will have to be approved by examiner</h4>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-xs-offset-7">
                    <button class="btn btn-primary pull-right" ng-click="addQuestion(); closeThisDialog()">Save question</button>
                </div> 
            </div>
        </form>
    </div>
</div>