﻿<div>
    <div class="row">
        <h3>Question set creation</h3>
        <div class="row">
            <div class="col-xs-12 well">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-6">
                            <h4>Faculty </h4>
                            <div>
                                <button type="button" class="btn btn-info width-100-percent " data-toggle="dropdown">
                                    {{(selectedFaculty && selectedFaculty.name) || 'Select faculty'}}<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-scrolled-y width-100-percent dropdown-height">
                                    <li ng-repeat="faculty in faculties">
                                        <a ng-click="selectFaculty(faculty)">{{faculty.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <h4>Question subject </h4>
                            <div>
                                <button type="button" class="btn btn-info width-100-percent " data-toggle="dropdown">
                                    {{(questionSet.subject && questionSet.subject.name) || 'Select subject'}}<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-scrolled-y width-100-percent dropdown-height" role="menu">
                                    <li ng-repeat="subject in subjects">
                                        <a ng-click="setQuestionSetsSubject(subject)">{{subject.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <form class="margin-top-20" ng-if="selectedFaculty.id && questionSet.subject.id">
                    <!--ng-if=" selectedfaculty.id && questionset.subject.id"-->
                    <div class="row" style="margin-left:-2px;">
                        <div class="col-xs-6">
                            <label>Question set name</label>
                            <input type="text" ng-model="questionSet.name" class="form-control" />
                        </div>

                    </div>
                    <div class="row margin-top-20" style="margin-left:13px; margin-right:13px;">
                        <h4>Question Building area</h4>
                        <div class="row margin-bottom-20">
                            <div class="col-xs-6">
                                <h5>Select existing question from this faculty and subject</h5>
                                <!--<input  class="form-control width-100-percent" ng-model="question.name" typeahead="question for question in facultySubjectSpecificQuestions | filter:$viewValue | limitTo: 20" typeahead-on-select='onSelect($item, $model, $label)' />-->
                                <div>
                                    <button type="button" class="btn btn-info width-100-percent " data-toggle="dropdown">
                                        Click on a question to add it<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-scrolled-y width-100-percent dropdown-height" role="menu">
                                        <li ng-repeat="question in facultySubjectSpecificQuestions">
                                            <a ng-click="addExistingQuestion(question)">{{question.name}}</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <div class="col-xs-6">
                                <h5>Add a new question</h5>
                                <button class="btn btn-danger width-25-percent" ng-click="createQuestion(questionSet.questions)"><i class="glyphicon glyphicon-plus"></i></button>
                            </div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-xs-12 well" style=" background-color: #ADEDBD;">
                                <h4>Questions</h4>
                                <div >
                                    <ul style="list-style-type:none">
                                        <li ng-repeat="question in questionSet.questions" class="question-dragging" style="background-color: #ADEDBD;">
                                            <div class="col-xs-12" ng-drag="true" ng-drag-data="question" ng-drop="true" ng-drop-success="onDropComplete($index, $data,$event)" style="cursor:pointer">
                                                <question-directive inputquestion="question" questions="questionSet.questions"></question-directive>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-8 ">
                            <button class="btn btn-primary pull-right" ng-click="createQuestionSet()">Create question set</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
