﻿<div>
    <h2>Question Sets</h2>
    <div class="row">
        <div class="col-xs-4 ">
            <h4 ng-click="alert()">Select a faculty</h4>
            <div>
                <button type="button" class="btn btn-info " data-toggle="dropdown">
                    {{(selectedFaculty && selectedFaculty.name) || 'Select faculty'}} <span class="caret"></span>
                </button>

                <ul class="dropdown-menu dropdown-scrolled-y dropdown-height" role="menu">
                    <li ng-repeat="faculty in faculties">
                        <a ng-click="selectFaculty(faculty)">{{faculty.name}}</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 div col-xs-offset-8">
            <h5>Search</h5>
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" ng-model="searchQuestionSets" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row margin-top-20">
        <table ng-table="tableParams" class="table table-hover table-striped">
            <tr>
                <th><span class="pull-left">Question set name </span></th>
                <th> <span class="pull-left">Subject</span></th>
                <th>Edit</th>
                <th>Preview</th>
            </tr>
            <tr ng-repeat="questionSet in $data">
                <td>{{questionSet.name}}</td>
                <td>{{questionSet.subject}}</td>
                <td><button class="btn btn-info btn-sm" ng-click="editQuestionSet(questionSet.id)"><span><i class="glyphicon glyphicon-edit"></i></span></button></td>
                <td><button class="btn btn-info btn-sm" ng-click="previewQuestionSet(questionSet.id)"><span><i class="glyphicon glyphicon-eye-open"></i></span></button></td>

            </tr>
        </table>
    </div>

    <div class="row margin-top-20">
        <div class="col-xs-4 col-xs-offset-8 ">
            <button class="btn btn-primary pull-right" ng-click="createQuestionSet()">Create question set</button>
        </div>
    </div>
</div>