﻿<div class="row">
    <div class="row">
        <h2>
            {{questionSet.name}}
        </h2>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ol>
                <li ng-repeat="question in questionSet.questions">
                    <h4>{{question.name}}? </h4>
                    <div class="row" ng-if="question.typeId != 3">
                        <ul>
                            <li ng-repeat="answer in question.answers" style="margin:10px;">
                                <button class="btn btn-default width-50-percent">
                                    {{answer.name}}
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="row margin-top-20" ng-if="question.typeId == 3">
                        <textarea class="form-control"></textarea>
                    </div>
                    
                </li>
            </ol>
        </div>
    </div>
</div>
